# IDE files
.idea/
.DS_Store

# Build directories
build/

# Dependency directories
node_modules/
jspm_packages/

# Lock files
yarn.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity
